.product-card-full{
    border: 1px solid #838383;
    border-radius: 8px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #ececec;
    width: 80%;
    height: 100%;

    align-self: center;
    
}
.product-card-full img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 15px;
}